.description {
  .offset(0; 0 0 42px 0);
}

.description__title {
  .offset(0; 0 0 38px 0);
  .typography(normal; 400; 36px; 40px);
  color: @black;

  @media (min-width: @tablet-width) {
    .offset(0; 0 0 32px 0);
    .typography(normal; 400; 60px; 60px);
  }
}

.description__list {
  .offset(0 0 0 80px; 0);
  font-family: "Arial", sans-serif;
  .typography(normal; 400; 14px; 18px);
  list-style-type: none;
}

.description__item-generate(@n) when (@n > 0) {
  .description__item-@{n} {
    position: relative;
    width: 199px;
    .offset(0; 0 0 32px 0);

    &:last-child {
      margin-right: 0;
    }

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      left: -80px;
      width: 60px;
      height: 60px;
      background-image: url("../img/mobile-images/description__item_@{n}.svg");
      background-repeat: no-repeat;
    }
  }
  .description__item-generate(@n - 1);
}

.description__item-generate(4);

@media (min-width: @tablet-width) {
  .description {
    .offset(0; 0 0 46px 0);
  }

  .description__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .description__item-generate(@n) when (@n > 0) {
    .description__item-@{n} {
      width: 245px;
      .offset(151px 0 57px 0; 0 137px 0 0);

      &:nth-child(-n+2) {
        margin-bottom: 37px;
      }

      &:nth-child(1) {
        margin-right: 153px;
      }

      &:nth-child(2) {
        margin-right: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 80px;
        height: 80px;
        background-image: url("../img/tablet-images/description__item_tablet-@{n}.svg");
        background-repeat: no-repeat;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 111px;
        width: 136px;
        height: 280px;
        background-image: url("../img/tablet-images/description__item_number-@{n}.svg");
        background-repeat: no-repeat;
        background-size: auto auto;
        z-index: -1;
      }
    }
    .description__item-generate(@n - 1);
  }
  .description__item-generate(4);
}

@media (min-width: @desktop-width) {
  .description__list {
    .description__item-1 {
      width: 230px;
      margin-right: 94px;
      margin-bottom: 0;
    }

    .description__item-2 {
      width: 246px;
      margin-right: 79px;
      margin-bottom: 0;
    }

    .description__item-3 {
      width: 248px;
      margin-right: 77px;
    }

    .description__item-4 {
      width: 246px;
    }
  }
}
