.form {
  .offset(27px 0 32px 0; 0 20px);

  @media (min-width: @tablet-width) {
    .offset(0 0 32px 0; 0 30px 0 70px);
  }

  @media (min-width: @desktop-width) {
    .offset(0 0 32px 0; 0 110px 0 110px);
  }
}

.form__title {
  .offset(0; 0 0 37px 0);
  .typography(normal; 400; 36px; 36px);
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 54px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 56px;
  }
}

.form__description {
  width: 226px;
  .offset(0; 0 0 39px 0);
  .typography(normal; 400; 14px; 18px);
  color: @black;
  text-transform: uppercase;

  @media (min-width: @tablet-width) {
    width: 323px;
    .offset(0; 0 0 66px 0);
    font-size: 20px;
    line-height: 30px;
  }
}

.form__inner {
  @media (min-width: @tablet-width) {
    width: 667px;
    .offset(0 36px 0 0; 0);
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
    display: grid;
    grid-template-columns: 570px 570px;
    grid-gap: 80px;
    .offset(0; 0);
  }
}

.form__elements {
  .offset(0; 0 0 14px 0);
}

.form__elements-data {
  .offset(0; 0);

  @media (min-width: @tablet-width) {
    display: flex;
    .offset(0; 0 0 20px 0);

    .form__input {
      flex-grow: 2;
    }
  }
}

.form__data {
  .offset(0; 0 0 24px 0);
}

.form__programm {
  .offset(22px 0 19px 0; 0 0 26px 0);
  .border(1px solid @grey_light; 0; 1px solid @grey_light; 0);
}

.form__weight {
  color: @special_dark-grey-2;
}

.form__fieldset {
  .border(0; 0; 0; 0);
}

.form__legend {
  .typography(normal; 400; 24px; 26px);
  color: @black;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
  }
}

.form__label {
  .offset(0; 0 16px 0 0);
  .typography(normal; 400; 16px; 18px);
  text-transform: uppercase;
  color: @special_dark-grey;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__input {
  .offset(13px 0 15px 15px; 0);

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    .typography(normal; 400; 16px; 18px);
    color: @special_dark-grey;
    opacity: 1;
    text-transform: uppercase;

    @media (min-width: @tablet-width) {
      font-size: 20px;
      line-height: 30px;
    }
  }
}

.form__owner {
  .offset(0; 0 0 24px 0);

  .form__legend {
    .offset(0; 0 0 35px 0);

    @media (min-width: @tablet-width) {
      .offset(0; 0 0 76px 0);
    }
  }
}

.form__owner-inner {
  .offset(0; 0);

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 570px 572px;
    grid-gap: 78px;
  }
}

.form__comment {
  .offset(0 0 23px 0; 0);

  .form__legend {
    .offset(0; 0 0 38px 0);
  }
}

.form__textarea {
  width: 100%;
  min-height: 150px;
  .offset(9px 12px 0 15px; 0);
  .typography(normal; 400; 16px; 18px);

  &::placeholder {
    font-family: "Oswald", "Arial", sans-serif;
    .typography(normal; 400; 16px; 18px);
    color: @special_dark-grey;
    opacity: 1;
    text-transform: uppercase;
  }
}

.form__optionally {
  .offset(0; 0 0 35px 0);

  @media (min-width: @tablet-width) {
    width: 565px;
  }

  @media (min-width: @desktop-width) {
    width: 1196px;
  }
}

.form__optionally-inner {
  @media (min-width: @tablet-width) {
    display: flex;
    flex-wrap: wrap;
  }
}

.form__legend-optionally {
  .offset(0; 0 0 34px 0);
}

.form__elements-optionally {
  width: 220px;
  .offset(0; 0 0 12px 0);

  &:last-child {
    .offset(0; 0);
  }

  @media (min-width: @tablet-width) {
    .offset(0; 0 0 32px 0);

    &:nth-child(2n + 1) {
      margin-right: 123px;
    }
  }

  @media (min-width: @desktop-width) {
    .offset(0; 0 104px 0 0);

    &:nth-child(2n + 1) {
      margin-right: 104px;
    }
  }
}

.form__label-optionally {
  color: @black;
}

.form__submit {
  @media (min-width: @tablet-width) {
    width: 565px;
    display: flex;
    flex-wrap: wrap;
    .offset(0; 0 0 72px 0);
  }

  @media (min-width: @desktop-width) {
    width: 829px;
  }
}

.form__note {
  .offset(0; 0);
  font-family: "Arial", sans-serif;
  .typography(normal; 400; 14px; 16px);
  color: @black;
  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}

.form__button-send {
  width: 100%;
  .offset(7px 0; 0 0 21px 0);
  text-align: center;
  border: none;
  font-family: "Oswald", "Arial", sans-serif;
  .typography(normal; 400; 16px; 20px);

  @media (min-width: @tablet-width) {
    width: 282px;
    .offset(13px 0; 0 61px 0 0);
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: @desktop-width) {
    width: 568px;
    .offset(13px 0; 0 61px 0 0);
  }
}
