.offset(@padding; @margin) {
  padding: @padding;
  margin: @margin;
}

.typography(@font-style; @font-weight; @font-size; @line-height) {
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
}

.border(@border-top; @border-right; @border-bottom; @border-left) {
  border-top: @border-top;
  border-right: @border-right;
  border-bottom: @border-bottom;
  border-left: @border-left;
}
