.contacts {
  .offset(0; 0);

  @media (min-width: @desktop-width) {
    position: relative;
  }
}

.contacts__wrapper {
  .offset(0; 0);

  @media (min-width: 600px) and (max-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @media (min-width: 1070px) and (max-width: 1439px) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.contacts__text-block {
  display: flex;
  flex-wrap: wrap;
  .offset(30px 0 26px 20px; 0);

  @media (min-width: 321px) and (max-width: 599px) {
    width: 394px;
    .offset(30px 0 26px 40px; 0 auto);
  }

  @media (min-width: 600px) and (max-width: 767px) {
    flex-direction: column;
    width: 280px;
    .offset(30px 0 26px 30px; 0);
  }

  @media (min-width: @tablet-width) {
    .offset(63px 71px 57px; 0);
    .typography(normal; 400; 20px; 21px);
    justify-content: space-between;
  }

  @media (min-width: 770px) and (max-width: 1069px) {
    width: 394px;
    .offset(30px 0 26px 40px; 0 auto);
  }

  @media (min-width: 1070px) and (max-width: 1439px) {
    flex-direction: column;
    width: 280px;
    .offset(30px 0 26px 30px; 0);
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 131px;
    left: 109px;
    width: 570px;
    justify-content: space-between;
    .offset(65px 89px 55px 76px; -37px 0 0 0);
    background-color: @white;
  }
}

.contacts__title {
  display: flex;
  flex-direction: column;
  width: 140px;
  word-wrap: break-word;
  .offset(0; 0 2px 0 0);
  .typography(normal; 400; 16px; 18px);
  color: @black-neutral;
  text-transform: uppercase;

  @media (min-width: 600px) {
    width: 250px;
    .typography(normal; 400; 20px; 21px);
    .offset(0; 0 0 50px 0);
  }

  @media (min-width: @tablet-width) {
    width: 171px;
    .offset(0; 0);
    .typography(normal; 400; 20px; 21px);
  }
}

.contacts__title--welcome {
  .offset(0; 0 0 3px 0);

  @media (min-width: @tablet-width) {
    .offset(3px 0 0 0; 0 0 7px 0);
  }
}

.contacts__title--cooperation {
  .offset(0; 0);

  @media (min-width: @tablet-width) {
    .offset(0; 0);
  }

  @media (min-width: @desktop-width) {
    .offset(0; 0);
  }
}

.contacts__address {
  width: 145px;
  .offset(0; 0);
  font-family: "Arial", sans-serif;
  .typography(normal; 400; 14px; 20px);
  color: @special_dark-grey;

  @media (min-width: 600px) {
    width: 159px;
    .typography(normal; 400; 16px; 20px);
  }

  @media (min-width: @tablet-width) {
    width: 159px;
    .typography(normal; 400; 16px; 20px);
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    .offset(0 0 0 4px; 0);
    text-align: left;
  }
}

.contacts__city {
  display: block;

  @media (min-width: @tablet-width) {
    .offset(0; 20px 0 0 0);
  }
}

.contacts__iframe {
  display: block;

  @media (min-width: 321px) {
    .offset(0; 0 auto);
  }

  @media (min-width: 600px) and (max-width: 767px) {
    .offset(0; 0);
  }

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: 769px) {
    .offset(0; 0 auto);
  }

  @media (min-width: 1069px) {
    .offset(0; 0);
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
    height: 400px;
  }
}
